#User folders that shouldn't be touched
presets_user/**/**toml
save/

#Bins
target/

#Outputs and artifacts
**swp
**bk
**lz4
Cargo.lock
dep_graph.png
.timestamp_rs
.timestamp_ron
.timestamp_toml
.timestamp_md