{ //Strings must be kept withn the hashmap
"game_title":  "pGLOWrpg",
"game_name": "Procedurally Generated Living Open World RPG",
"developer" : "@Roal-Yr, 2021",
"menu_title" : "MENU",
"menu" : 
" (w) - worldgen
 (g) - game
 (q) - quit",
}