//➠➣➤❯❯✦◼⋙ ∘⋄⊳
{
"prompt1" : ":",
"prompt2" : "\n⊳ ",
"bullet1" : "    ✦ ",
"newline" : "\n",
"separator1" : "───────────────────────────────────────────────────────",
"separator2" : "┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈ ┈",
}