//➠➣➤❯❯✦◼⋙ ∘⋄⊳›⁕↳⌷⌶⎆◜▫◦
{
"prompt_option" : " ⊳ ",
"prompt_word" : " ⌶  ",
"bullet1" : "    ✦ ",
"newline" : "",
"separator_thick" : "─",
"separator_thin" : "◜ ",
"banner_empty" : " ",
"banner_block" : "░",
"banner_dash" : "╲",
}