// Strings should be raw and lay within the map.
// Strings will be used as is, with tabs and newlines.

{
"wg0" : "WORLDGEN",
"intro" : r#"This application generates a world or a number of worlds from a selected preset, writes saved data and images (see options) into the "save" folder."#,
"preset_prompt" : "Select a preset by entering its name, or leave empty to abort worldgen and return to main menu. You can enter a few characters from any word in the list to select the respective option. See ./presets_default/world and ./presets_user/world for available presets:",
"preset_selected" : "Selected preset is:",
"wg28" : "No preset matches input, aborting.",

"seed_default_value" : "Default seed value is:",
"seed_menu_prompt" : "Select a seed to be used.",
"seed_entry_man" : "manually enter seed value.",
"seed_entry_rand" : "randomize seed.",
"seed_entry_pres" : "use seed from preset.",

"seed_rand" : "Randomizing the world seed for this generation.",
"seed_man" : "Seed value must be an integer. Invalid input will be replaced with default value.",
"seed_pres" : "Using the seed from preset.",
"seed_base" : "Base seed for worldgen is: ",
"seed_used" : "Using seed: ",

"wg7" : "Preparing topography map...",
"wg9" : "Preparing climate maps...",
"wg13" : "Preparing watermask map...",
"wg17" : "Preparing river map...",
"wg19" : "Preparing biome map...",
"wg21" : "Preparing georegion map...",

"wg3" : "Selected preset: ",
"wg24" : "How many worlds to generate? Enter the value, or leave empty to use the value from worldgen options.",



"wg6" : "The amount of worlds to generate is: ",

"wg25" : "Preparing data files:",
"wg26" : "No data files were written (set in worldgen options).",
"wg15" : "Preparing colorized maps:",
"wg16" : "Preparing raw maps:",

"wg23" : "Worldgen done.",

//unused below


"wg11" : "Preparing rainfall map...",

"wg8" : "Saving topography map...",
"wg10" : "Saving temperature map...",
"wg12" : "Saving rainfall map...",
"wg14" : "Saving watermask map...",
"wg18" : "Saving river map...",
"wg20" : "Saving biome map...",
"wg22" : "Saving georegion map...",

"wg27" : "Saving world layers data...",

}