// ▓▓▓▓▓▓▓▓▓▓ GENERAL OPTIONS ▓▓▓▓▓▓▓▓▓▓▓
// These options do not affect the generator as much as they 
// affect the boundary and initial conditions. They can be freely
// adjusted to make different types of the world.
// ▓▓▓▓▓▓▓▓▓▓ GENERAL OPTIONS ▓▓▓▓▓▓▓▓▓▓▓

// A seed value for the world generator. Running worldgen with 
// the same seed will create the same world.
// Valid values are: any integer number.

	seed : 15092020,

// A size of the world map (size x size). Each pixel is about 
// 300x300 meters.
// Valid values are: 256, 512, 1024, 2048, 4096, 8192, 16384 (integer).

	map_size : 1024,
	

// Temperature mode for the world map. It determines where the 
// polar region is, by making a gemperature gradient.
// Valid values are: "North", "South", "Both", "Neither".

	temp_mode : North,
	

// Absolute waterlevel value (in meters).
// Valid values are: 0...10000 (integer).

	waterlevel : 50,

	
// Absolute elevation values (in meters).
// Valid values are: 0...10000 (integer).

	abs_elev_min : 0,
	abs_elev_max : 7000,
	

// Absolute rainfall values (in millimeters).
// Valid values are: 0...4000 (integer).

	abs_rain_min : 0,
	abs_rain_max : 4000,
	

// Absolute temperature values (in °C).
// Valid values are: -50...50 (integer).

	abs_temp_min : -25,
	abs_temp_max : 50,


// River source density controls the number of rivers that have
// to be generated relative to map size, precipitation etc.
// Valid values are: 0...100, 0 to disable.

	river_source_density : 30,

// ▓▓▓▓▓▓▓▓▓▓ ADVANCED OPTIONS ▓▓▓▓▓▓▓▓▓▓
// These options, when adjusted, will affect other options in this 
// section, so it is necessary to tweak and check the worldgen 
// output to finetune the generator. 
// ▓▓▓▓▓▓▓▓▓▓ ADVANCED OPTIONS ▓▓▓▓▓▓▓▓▓▓

// A size of the noise maps (size x size) that are generated to 
// create topography, rainfall and temperature. This map is then 
// interpolated to the "map_size" value. This value should
// be equal or less than "map_size".
// Valid values are: 256, 512, 1024, 2048, 4096, 8192 (integer).

	noisemap_size : 512,
	

// Filter the topography map from the bottom. Values below this 
// would be assigned 0. Increasing this makes steeper topography
// Valid values are: 0...255.

	topog_filter : 0,
	

// Topography scope lower values make maps that look like 
// zoomed in islands, while greater values produce maps which 
// encompass many landmasses and have extensive water bodies.
// Valid values are: 0...100.

	topog_scope : 50,
	

// Topography continuity lower values produce maps which have 
// landmasses divided by water, while greater values produce 
// more connected landmasses and continuous continents.
// Valid values are: 0...100.

	topog_continuity : 10,
	

// Topography concentrator lower values produce maps with 
// distributed landmasses, while higher values tend to bring 
// landmass towards the center of the map.
// Valid values are: 0...100.

	topog_concentrator : 50,
	
	
// Topography erosion factor lower values produce maps with 
// more landmass bulk, higher values erode the landmass instead.
// Valid values are: 0...100.

	topog_erosion_factor : 80,
	

// River minimum length.
// Valid values are: 10...map_size (integer).

	river_min_length : 10,


// ▓▓▓▓▓▓▓▓▓ VERY ADVANCED OPTIONS ▓▓▓▓▓▓▓▓
// These options are here just because they weren't hardcoded.
// They allow to precisely finetune (or completely break) the 
// preset.
// ▓▓▓▓▓▓▓▓▓ VERY ADVANCED OPTIONS ▓▓▓▓▓▓▓▓

// Noise size controls additional noise, that is applied to the base 
// noise map. Lower values produce finer noise, while larger 
// values produce larger noise.
// Valid values are: 1...100.

	topog_noise_size : 10,
	temp_noise_size : 20,
	rain_noise_size : 30,
	

// Noise map weight controls the amount of additional noise 
// applied to base map. Lower values produce maps with less or 
// no additional noise, while higher values add more noise for 
// distinct map features.
// Valid values are: 0...100, 0 to disable.

	topog_noise_weight : 100,
	temp_noise_weight : 25,
	rain_noise_weight : 30,
	
	
// River noise values makes them meander. Lower values produce
// finer noise, while larger values produce larger noise.
// Valid values are: 1...100.

	river_noise_size1 : 10, //must be less than segment size
	river_noise_size2 : 1, //can be hardcoded
	
	
// River noise blend mixes noise 1 and 2. River noise weight 
// controls the total amount of noise applied to base river 
// pathfinding map based on topography.
// Valid values are: 0...100, 0 to disable.

	river_noise_blend : 70,
	river_noise_weight : 100, //obsolete
	
// The width of the eroded landmass around the rivers 
// (number of cells).
// Valid values are: 0...255 (integer).

	river_erosion_width : 7, //6 - 512, 7 - 1024
	
// The smoothness of the erosion applied. Lesser value makes 
// erosion more intense.
// Valid values are: 0...100 (float).

	river_erosion_smooth : 100,
	
	
// meandering

	river_segment_displacement : 30, //obsolete?

	
// River heuristics factor controls river pathfinding approximate
// path cost. Lower values make slower but more precise
// path generation, while higher values allow for faster and less
// natural paths.
// Valid values are: 0...200.

	river_heuristic_factor : 50,
	
	
// River segment length. Rivers that have length above this value
// would be generated in segments to improve pathfinding 
// performance. This is mean value.
// Valid values are: 100...map_size (integer).

	river_segment_length : 15, //obsolete, can be map size

// River attractor pool size power. Makes rivers be attracted to 
// water bodies whose size is greater than 2^pow.
// For example, if value is 13, then rivers would ignore water 
// bodies less than 2^13 or 8192 cells in size.
// Valid values are: 1...28 (integer).

	river_attr_pool_size_pow : 13,
	
// River sink minimum pool size power. Makes rivers be 
// terminated at water bodies whose size is greater than 2^pow.
// Valid values are: 1...28 (integer).

	river_sink_min_pool_size_pow : 11,

// River directional vectors ranfomization and bias

	river_rand_vectors : 0.1,
	
	river_vect_angle : 3.14,
	
	river_vect_angle_noise : 0.001,
	
	river_vect_angle_max_deviation : 0.2,



// Mysterious debug options for when I don't want to recompile
// too much. Ignore these.

	magic : 0, //
	magic1 : 0,  //
	magic2 : 0, //
	magic3 : 0, //
