//▒▒▒▒▒▒▒▒▒▒▒▒ GENERAL OPTIONS ▒▒▒▒▒▒▒▒▒▒▒▒▒
(
// Locale is a string which represents the folder name in "locale"
// folder. By default: "en".

	locale : "en",
	
// It is advised to disable textwrap for better TTS support.
// The narration will be smoother due to no line breaks.

	use_textwrap: true,
	
// This option will force the game to repeat the text and prompts
// until valid input is provided. For accessibility purposes and TTS.

	repeat_text_if_no_input: true,
	
// Whether to use colorized text or not. Text colors are according to
// preset in <where? the folder will change>

	use_text_colors: true,

// ▒▒▒▒▒▒▒▒▒▒▒ WORLDGEN OPTIONS ▒▒▒▒▒▒▒▒▒▒▒▒▒
// Worlds to generate at the worldgen. The seed value will be 
// incremented for each of the new world, so they will be different.
// Valid values are: any integer number.

	worlds_to_generate : 1,
	
// Render options control the png image output of the generators.
// Valid values are: true or false.
		
	render_topography : true,
	render_temperature : true,
	render_rainfall : true,
	render_biomes : true,
	render_georegions : true,
	render_rivers : true,
	
// If data files writing is disabled, no actual world data will be written
// it will be a "cold run" generation.
	
	write_data_files : true,

// This will render raw (not colorized) images where applicable.

	render_colorized_maps : true,
	render_raw_maps : true,
)