[ // Start from vector that contains entities.
	EntityData(
		entity_codename : "grass_foxtail",
		entity_type : Plant(
			PlantProperties(
				// Plants be described as "patches" or "groups"
				// of population individuals at given place, so
				// a quantity parameter is given.
				// For instance, if there are 10 grass sprouts per 1 sq.m
				// Then for a place (300x300 m) the quantity will be like
				// 900000, thus taking u32 init.
				// Plant level along with world constant and scarcity
				// will define the "mix" of plants in given location at
				// given plant level.
				plant_level: Ground,
				local_max_quantity: 1000000,
				materials: [
					Plant(
						MaterialProperties(
							property: "Green fiber"
						)
					)
				],
				native_biomes: [
					"test_invalid_biome",
					"biome_boreal_grassland",
					"biome_temperate_grassland",
					"biome_tropical_grassland",
					"biome_boreal_woodland",
					"biome_temperate_woodland",
					"biome_tropical_woodland",
					"biome_boreal_forest",
					"biome_temperate_forest",
					"biome_tropical_forest",
				],
			)
		)
	),
	EntityData(
		entity_codename : "grass_barley",
		entity_type : Plant(
			PlantProperties(
				plant_level: Ground,
				local_max_quantity: 1000000,
				materials: [
					Plant(
						MaterialProperties(
							property: "Green fiber"
						)
					)
				],
				native_biomes: [
					"biome_temperate_grassland",
					"biome_tropical_grassland",
					"biome_boreal_woodland",
					"biome_temperate_woodland",
					"biome_tropical_woodland",
					"biome_boreal_shrubland",
					"biome_temperate_shrubland",
					"biome_tropical_shrubland",
				],
			)
		)
	),
	EntityData(
		entity_codename : "grass_foxtail",
		entity_type : Plant(
			PlantProperties(
				plant_level: Ground,
				local_max_quantity: 1000000,
				materials: [
					Plant(
						MaterialProperties(
							property: "Green fiber"
						)
					)
				],
				native_biomes: [
					"biome_boreal_grassland",
					"biome_temperate_grassland",
					"biome_tropical_grassland",
					"biome_boreal_woodland",
					"biome_temperate_woodland",
					"biome_tropical_woodland",
					"biome_boreal_forest",
					"biome_temperate_forest",
					"biome_tropical_forest",
					"biome_boreal_swamp",
					"biome_temperate_swamp",
					"biome_tropical_swamp",
					"biome_boreal_shrubland",
					"biome_temperate_shrubland",
					"biome_tropical_shrubland",
					"biome_boreal_alpine_grassland",
					"biome_temperate_alpine_grassland",
					"biome_tropical_alpine_grassland",
				],
			)
		)
	),
] // End with vector that contains entities.
