(
color_0 : "#FFE6DCBE",
color_1 : "#FFEBE6C3",
color_2 : "#FFF0F0C8",
color_3 : "#FFD8ECC6",
color_4 : "#FFC0E8C4",
color_5 : "#FFA8E4C2",
color_6 : "#FF90E0C0",
color_7 : "#FF78DCBE",
color_8 : "#FF60D8BC",
color_9 : "#FF48D4BA",
color_10 : "#FF30D0B8",
color_11 : "#FF18CCB6",
color_12 : "#FF00C8B4",
color_13 : "#FF0BB8B3",
color_14 : "#FF17A9B2",
color_15 : "#FF2299B1",
color_16 : "#FF2E8AB0",
color_17 : "#FF397BB0",
color_18 : "#FF456BAF",
color_19 : "#FF505CAE",
color_20 : "#FF5C4CAD",
color_21 : "#FF673DAD",
color_22 : "#FF732EAC",
color_23 : "#FF7E1EAB",
color_24 : "#FF8A0FAA",
color_25 : "#FF9600AA",

color_100 : "#FFFF00FF", //error color
)