// Available colors: 
// black (might not be seen on dark themed terminal),
// red, green, yellow, blue, magenta (or purple), cyan, white. 
// Optionally use "bright x", where x is color ftom above.

(
normal : "",
announcement : "blue",
menu : "cyan",
prompt : "purple",
banner : "bright red",
number : "red",
name : "green",
)